<!-- inherit from base.html -->
{% extends 'base_template.html' %}

{% block content %}
    <h2 class="centered-body-narrow">Login</h2>
    <div class="container m-4 border rounded p-2 centered-body-narrow">
        <div>

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}

                <label for="username" class="form-label">Username: </label>
                <input type="text" id="username" name="username" class="form-control">
                <br />
                <label for="password" class="form-label">Password: </label>
                <input type="password" id="password" name="password" class="form-control">
                {% if form.errors %}
                    {% for error in form.errors %}
                        <p class="alert alert-danger">Incorrect username or password</p>
                    {% endfor %}
                {% endif %}
                <br />
                <input type="submit" value="login" class="btn btn-primary">
                <input type="hidden" name="next" value="{{ next }}">
                <br /><br />
            </form>

            {# Assumes you setup the password_reset view in your URLconf #}
            <a href="{% url 'password_reset' %}" class="btn btn-secondary">Forgot Password</a>
            <a href="{% url 'register_page' %}" class="btn btn-secondary">Register</a>
        </div>
    </div>
{% endblock %}
