{% extends 'base_template.html' %}

{% block content %}
    <h2 class="centered-body-narrow">Make New Account</h2>
    <div class="container m-4 border rounded p-2 centered-body-narrow">

        <form method="post">
            {% csrf_token %}

            <label class="form-label" for="id_username">Username:</label>
            <input class="form-control" type="text" name="username" maxlength="150" autofocus required id="id_username">
            {% if form.errors %}
                {% for error in form.username.errors %}
                    <p class="alert alert-danger">{{ error|escape }}</p>
                {% endfor %}
            {% endif %}
            <p class="help-tooltip">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</p>


            <label class="form-label" for="id_email">Email address:</label>
            <input class="form-control" type="email" name="email" maxlength="254" id="id_email">
            {% if form.errors %}
                {% for error in form.email.errors %}
                    <p class="alert alert-danger">{{ error|escape }}</p>
                {% endfor %}
            {% endif %}
            <br />

            <label class="form-label" for="id_password1">Password:</label>
            <input class="form-control" type="password" name="password1" autocomplete="new-password" required
                   id="id_password1">

            {% if form.errors %}
                {% for error in form.password1.errors %}
                    <p class="alert alert-danger">{{ error|escape }}</p>
                {% endfor %}
            {% endif %}

            <ul>
                <li>Your password must not be commonly used.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password must not contain only numbers</li>
            </ul>


            <label class="form-label" for="id_password2">Password confirmation:</label>
            <input class="form-control" type="password" name="password2" autocomplete="new-password" required
                   id="id_password2">

            {% if form.errors %}
                {% for error in form.password2.errors %}
                    <p class="alert alert-danger">{{ error|escape }}</p>
                {% endfor %}
            {% endif %}

            <br />
            <br />

            <input class="btn btn-primary" type="submit" name="Create User" value="Register"/>
        </form>


    </div>
{% endblock %}