{% extends 'base_template.html' %}

{% block content %}
    <h2 class="centered-body-narrow">Login</h2>
    <div class="container m-4 border rounded p-2 centered-body-narrow">
        <div>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}


                    <label class="form-label" for="id_username">Username:</label>
                    <input class="form-control" type="text" name="username" maxlength="150" autofocus required id="id_username">
                    <span class="helptext">Required</span>




                    <label class="form-label" for="id_email">Email address:</label>
                    <input class="form-control" type="email" name="email" maxlength="254" id="id_email">




                    <label class="form-label" for="id_password1">Password:</label>
                    <input class="form-control" type="password" name="password1" autocomplete="new-password" required id="id_password1">
                    <span class="helptext"><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul></span>


                    <label class="form-label" for="id_password2">Password confirmation:</label>
                    <input class="form-control" type="password" name="password2" autocomplete="new-password" required id="id_password2">
                    <span class="helptext">Enter the same password as before, for verification.</span>


                <input type="submit" value="login" class="btn btn-primary">
                <br/><br/>
            </form>
        </div>
    </div>
{% endblock %}
