<!-- inherit from base.html-->
{% extends "base_template.html" %}


<!-- Replace block content in base_template.html -->
{% block content %}
<div class="container m-4 border rounded p-2" style="max-width: 55rem; margin: 1rem auto 1rem !important;">
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="title" class="form-label">Title: </label>
            <input type="text" id="title" name="title" class="form-control" value="{{ form.title.value }}">
            <br />

            <label for="author_name" class="form-label">Author Display Name: </label>
            <input type="text" id="author_name" name="author_name" class="form-control" value="{{ form.author_name.value }}">
            <br />

            <label for="memo" class="form-label">Journal Description: </label><br />
            <textarea type="text" id="memo" name="memo" class="form-control" rows=5>{{ form.memo.value }}</textarea>
            <br />

            <input type="checkbox" id="is_public" name="is_public" class="form-check-input" checked={{ form.is_public.value }}>
            <label for="is_public" class="form-check-label">Make this journal public? </label>
            <br /> <br />

            <div class="d-flex align-items-end">
                <label for="journal_icon" class="form-label">Journal Icon: </label>
                <img src="{{ journal.journal_icon.url }}" alt="Current Journal Icon"
                     class="img-fluid rounded align-self-end ms-3" style="max-height: 150px; width: 150px;"> <br />
            </div>
            <input type="file" id="journal_icon" name="journal_icon" class="form-control" value={{ form.journal_icon.value }}>
            <br /> <br />

            <input type="submit" class="btn btn-primary" name="Update Form" />
        </form>
        {{form.errors}}
    </div>
</div>
{% endblock %}