<!-- inherit from base.html-->
{% extends "base_template.html" %}

{% block styles %}


{% endblock %}


<!-- Replace block content in base_template.html -->
{% block content %}


    <div class="container m-4 border rounded p-2" style="max-width: 80rem; margin: 1rem auto 1rem !important;">
        <div class="">
            <div class="container">
                <div class="d-flex flex-row justify-content-between">
                    <h1 class="flex-grow-1">{{ post.title }}</h1>
                    <div class="container p-0 d-flex flex-column" style="flex-basis: 150px">
                        <a href="/post/edit?p={{ post.id }}" class="btn btn-secondary align-self-end mt-1"
                           style="width: 150px; float: right">Edit Post</a>
                    </div>
                </div>
                <p class="text-secondary">By {{ journal.author_name }}</p>

                <div>{{ post.content|safe }}</div>
            </div>

        </div>
    </div>


{% endblock %}