<!-- inherit from base.html-->
{% extends "base_template.html" %}


<!-- Replace block content in base_template.html -->
{% block content %}


<div class="container m-4 border rounded p-2" style="max-width: 80rem; margin: 1rem auto 1rem !important;">
    <div class="d-flex align-items-start">
        <div class="container">
            <h1>{{ journal.title }}</h1>
            <p class="text-secondary">By {{ journal.author_name }}</p>
            <p class="text-body">{{ journal.memo|linebreaksbr }}</p>
        </div>
        <div class="container align-self-start p-0 d-flex flex-column">
            <img src="{{ journal.journal_icon.url }}" alt="Journal Icon" class="img-fluid rounded align-self-end" style="max-height: 150px; width: 150px; float: right;" />
            <a href="/journal?id={{ journal.id }}&edit=1" class="btn btn-secondary align-self-end mt-1" style="width: 150px; float: right">Edit Journal</a>
        </div>
    </div>

    <div class="container-fluid">
        <h3>All Posts:</h3>
            {% for post in posts %}
                <a href="/post?p={{ post.id }}" class="unstyled-link">
                    <div class="container-fluid border rounded p-2 mb-1">
                        <h5>{{ post.title }}</h5>
                        <hr />
                        <p class="text-body">
                            {{ post.content|truncatechars:50 }}
                        </p>
                    </div>
                </a>
            {% endfor %}
    </div>
</div>


{% endblock %}