<!-- inherit from base.html-->
{% extends "base_template.html" %}


<!-- Replace block content in base_template.html -->
{% block content %}
<div class="container m-4 p-2" style="max-width: 80rem; margin: 1rem auto 1rem !important;">
    <h1>List of Public Journals</h1>
    <div id="journ-cards" class="container-lg">
        <div class="d-flex flex-row flex-wrap">
            {% for i in journals %}
                <a href="/journal?id={{ i.id }}" class="unstyled-container-link m-1">
                    <div class="card border-select-hover flex-fill" style="width: 20rem; height: 100%">
                        <div class="card-header">
                            <p class="mb-0 pb-0 text-emphasis">{{ i.title }}</p>
                            <p class="text-secondary m-0 p-0">By {{ i.author_name }}</p>
                        </div>
                        <div class="card-body" style="display: flex; flex-direction: column; justify-content: space-between">
                            <div>
                                <p>{{ i.memo|linebreaksbr|truncatechars:100 }}</p>
                            </div>
                            <div class="container border rounded">
                                <p>TODO: Most recent post will go here</p>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}